<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Phoenix API Test Suite">
	<test thread-count="5" name="Inwarranty Flow">
		<classes>
			<class name="com.api.tests.LoginAPITest" />
			<class name="com.api.tests.UserDetailsAPITest"/>
			<class name="com.api.tests.CountAPITest" />
			<class name="com.api.tests.MasterAPITest" />
			</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
